-- PostgreSQL schema and seed data (3NF)
-- Note: названия таблиц и полей приведены к стилю PostgreSQL;
-- зарезервированное слово User экранировано как "User".

-- Safety: drop existing objects in dependency order
DROP TABLE IF EXISTS "Sales" CASCADE;
DROP TABLE IF EXISTS "Return" CASCADE;
DROP TABLE IF EXISTS "Product" CASCADE;
DROP TABLE IF EXISTS "User" CASCADE;
DROP TABLE IF EXISTS "Client" CASCADE;
DROP TABLE IF EXISTS "PaymentMethod" CASCADE;
DROP TABLE IF EXISTS "ProductStatus" CASCADE;
DROP TABLE IF EXISTS "ProductType" CASCADE;
DROP TABLE IF EXISTS "ReturnType" CASCADE;
DROP TABLE IF EXISTS "Role" CASCADE;

-- Reference tables
CREATE TABLE "Role" (
	"id"				SERIAL PRIMARY KEY,
	"name"			TEXT NOT NULL UNIQUE
);

CREATE TABLE "PaymentMethod" (
	"id"				SERIAL PRIMARY KEY,
	"name"			TEXT NOT NULL UNIQUE
);

CREATE TABLE "ProductStatus" (
	"id"				SERIAL PRIMARY KEY,
	"name"			TEXT NOT NULL UNIQUE
);

CREATE TABLE "ProductType" (
	"id"				SERIAL PRIMARY KEY,
	"name"			TEXT NOT NULL UNIQUE
);

CREATE TABLE "ReturnType" (
	"id"				SERIAL PRIMARY KEY,
	"name"			TEXT NOT NULL UNIQUE
);

-- Core entities
CREATE TABLE "Client" (
	"id"				SERIAL PRIMARY KEY,
	"lname"			TEXT,
	"fname"			TEXT,
	"patronymic"	TEXT,
	"phone"			VARCHAR(12),
	"passportData"	VARCHAR(10),
	"bankDetail"	VARCHAR(16),
	"email"			VARCHAR(100),
	"roleId"		INTEGER NOT NULL REFERENCES "Role"("id")
);

CREATE TABLE "User" (
	"id"				SERIAL PRIMARY KEY,
	"lname"			TEXT,
	"fname"			TEXT,
	"patronymic"	TEXT,
	"dateBirth"		DATE,
	"phone"			VARCHAR(12),
	"email"			VARCHAR(100),
	"login"			VARCHAR(100),
	"password"		VARCHAR(100),
	"roleId"		INTEGER NOT NULL REFERENCES "Role"("id"),
	"isActive"		BOOLEAN NOT NULL DEFAULT TRUE
);

CREATE TABLE "Product" (
	"id"				SERIAL PRIMARY KEY,
	"name"			TEXT,
	"categoryId"	INTEGER REFERENCES "ProductType"("id"),
	"description"	TEXT,
	"price"			NUMERIC(18,0),
	"shopShare"		NUMERIC(5,2),
	"clientId"		INTEGER REFERENCES "Client"("id"),
	"receiptDate"	DATE,
	"storagePeriod"	INTEGER,
	"statusId"		INTEGER REFERENCES "ProductStatus"("id")
);

CREATE TABLE "Return" (
	"id"				SERIAL PRIMARY KEY,
	"productId"		INTEGER REFERENCES "Product"("id"),
	"returnDate"	DATE,
	"reason"		TEXT,
	"returnTypeId"	INTEGER REFERENCES "ReturnType"("id")
);

CREATE TABLE "Sales" (
	"id"				SERIAL PRIMARY KEY,
	"productId"		INTEGER REFERENCES "Product"("id"),
	"clientId"		INTEGER REFERENCES "Client"("id"),
	"saleDate"		DATE,
	"payMethodId"	INTEGER REFERENCES "PaymentMethod"("id"),
	"totalAmount"	NUMERIC(18,2),
	"shopAmount"	NUMERIC(18,2),
	"clientAmount"	NUMERIC(18,2)
);

-- Seed data
INSERT INTO "Role" ("name") VALUES
	('Администратор'),
	('Менеджер'),
	('Покупатель'),
	('Бухгалтер'),
	('Продавец'),
	('Курьер');

INSERT INTO "PaymentMethod" ("name") VALUES
	('Наличные'),
	('Карта');

INSERT INTO "ProductStatus" ("name") VALUES
	('В наличии'),
	('Продан'),
	('Зарезервирован'),
	('Возврат');

INSERT INTO "ProductType" ("name") VALUES
	('Электроника'),
	('Одежда и аксессуары'),
	('Книги'),
	('Мебель'),
	('Спорт и отдых'),
	('Бытовая техника'),
	('Инструменты'),
	('Кухня'),
	('Авто'),
	('Услуги');

INSERT INTO "ReturnType" ("name") VALUES
	('Дефект'),
	('Не подошло');

-- Clients (роль Покупатель)

-- Users

-- Products

-- Returns
INSERT INTO "Return" ("productId","returnDate","reason","returnTypeId") VALUES
	(17,'2025-04-26','Сломалась цепь',2),
	(21,'2025-03-26','Дефект компрессора',1);

-- Sales
INSERT INTO "Sales" ("productId","clientId","saleDate","payMethodId","totalAmount","shopAmount","clientAmount") VALUES
	(4,1,'2025-04-26',2,120000.00,9600.00,110400.00),
	(8,3,'2025-03-26',1,5000.00,1250.00,3750.00);

USE [ThriftShop]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lname] [nvarchar](max) NULL,
	[fname] [nvarchar](max) NULL,
	[patronymic] [nvarchar](max) NULL,
	[phone] [nvarchar](12) NULL,
	[passportData] [nvarchar](10) NULL,
	[bankDetail] [nvarchar](16) NULL,
	[email] [nvarchar](100) NULL,
	[roleId] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[categoryId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 0) NULL,
	[shopShare] [decimal](5, 2) NULL,
	[clientId] [int] NULL,
	[receiptDate] [date] NULL,
	[storagePeriod] [int] NULL,
	[statusId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[returnDate] [date] NULL,
	[reason] [nvarchar](max) NULL,
	[returnTypeId] [int] NULL,
 CONSTRAINT [PK_Return] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnType]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReturnType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[clientId] [int] NULL,
	[saleDate] [date] NULL,
	[payMethodId] [int] NULL,
	[totalAmount] [decimal](18, 2) NULL,
	[shopAmount] [decimal](18, 2) NULL,
	[clientAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11.11.2025 12:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lname] [nvarchar](max) NULL,
	[fname] [nvarchar](max) NULL,
	[patronymic] [nvarchar](max) NULL,
	[dateBirth] [date] NULL,
	[phone] [nvarchar](12) NULL,
	[email] [nvarchar](100) NULL,
	[login] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[roleId] [int] NOT NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([id], [lname], [fname], [patronymic], [phone], [passportData], [bankDetail], [email], [roleId]) VALUES (3, N'Митюхин', N'Владимир', N'Антонович', N'79393834821', N'9111932416', N'1234432112344321', N'mituhin@gmail.com', 3)
INSERT [dbo].[Client] ([id], [lname], [fname], [patronymic], [phone], [passportData], [bankDetail], [email], [roleId]) VALUES (4, N'Иванов', N'Иван', N'Иванович', N'79123456789', N'1234567890', N'1234567890123456', N'ivanov@example.com', 3)
INSERT [dbo].[Client] ([id], [lname], [fname], [patronymic], [phone], [passportData], [bankDetail], [email], [roleId]) VALUES (5, N'Петров', N'Петр', N'Петрович', N'79234567890', N'2345678901', N'2345678901234567', N'petrov@example.com', 3)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([id], [name]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentMethod] ([id], [name]) VALUES (2, N'Безналичный')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [categoryId], [description], [price], [shopShare], [clientId], [receiptDate], [storagePeriod], [statusId]) VALUES (1, N'Смартфон Samsung Galaxy S21', 1, N'Новый смартфон с гарантией', CAST(30000 AS Decimal(18, 0)), CAST(10.00 AS Decimal(5, 2)), 3, CAST(N'2025-10-11' AS Date), 30, 1)
INSERT [dbo].[Product] ([id], [name], [categoryId], [description], [price], [shopShare], [clientId], [receiptDate], [storagePeriod], [statusId]) VALUES (2, N'Наушники Sony WH-1000XM4', 1, N'Беспроводные наушники с шумоподавлением', CAST(15000 AS Decimal(18, 0)), CAST(15.00 AS Decimal(5, 2)), 4, CAST(N'2024-10-01' AS Date), 30, 1)
INSERT [dbo].[Product] ([id], [name], [categoryId], [description], [price], [shopShare], [clientId], [receiptDate], [storagePeriod], [statusId]) VALUES (3, N'Планшет Apple iPad Air 4', 1, N'Планшет с поддержкой Apple Pencil', CAST(40000 AS Decimal(18, 0)), CAST(12.00 AS Decimal(5, 2)), 5, CAST(N'2025-10-01' AS Date), 30, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStatus] ON 

INSERT [dbo].[ProductStatus] ([id], [name]) VALUES (1, N'На витрине')
INSERT [dbo].[ProductStatus] ([id], [name]) VALUES (2, N'Продан')
INSERT [dbo].[ProductStatus] ([id], [name]) VALUES (3, N'Возвращен')
SET IDENTITY_INSERT [dbo].[ProductStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([id], [name]) VALUES (1, N'Электроника')
INSERT [dbo].[ProductType] ([id], [name]) VALUES (2, N'Одежда и аксессуары')
INSERT [dbo].[ProductType] ([id], [name]) VALUES (3, N'Книги')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[Return] ON 

INSERT [dbo].[Return] ([id], [productId], [returnDate], [reason], [returnTypeId]) VALUES (1, 17, CAST(N'2025-04-26' AS Date), N'ddssdfsd', 2)
INSERT [dbo].[Return] ([id], [productId], [returnDate], [reason], [returnTypeId]) VALUES (2, 31, CAST(N'2025-03-26' AS Date), N'sdad', 2)
SET IDENTITY_INSERT [dbo].[Return] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnType] ON 

INSERT [dbo].[ReturnType] ([id], [name]) VALUES (1, N'Списание')
INSERT [dbo].[ReturnType] ([id], [name]) VALUES (2, N'Возврат собственнику')
SET IDENTITY_INSERT [dbo].[ReturnType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'Админ')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'Работник')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([id], [productId], [clientId], [saleDate], [payMethodId], [totalAmount], [shopAmount], [clientAmount]) VALUES (2, 4, 3, CAST(N'2025-04-26' AS Date), 2, CAST(120000.00 AS Decimal(18, 2)), CAST(9600.00 AS Decimal(18, 2)), CAST(110400.00 AS Decimal(18, 2)))
INSERT [dbo].[Sales] ([id], [productId], [clientId], [saleDate], [payMethodId], [totalAmount], [shopAmount], [clientAmount]) VALUES (3, 8, 12, CAST(N'2025-03-26' AS Date), 1, CAST(5000.00 AS Decimal(18, 2)), CAST(1250.00 AS Decimal(18, 2)), CAST(3750.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [lname], [fname], [patronymic], [dateBirth], [phone], [email], [login], [password], [roleId], [isActive]) VALUES (1, N'Иванов', N'Иван', N'Иванович', CAST(N'1985-05-15' AS Date), N'12345678901', N'ivan@example.com', N'fara', N'123', 1, 1)
INSERT [dbo].[User] ([id], [lname], [fname], [patronymic], [dateBirth], [phone], [email], [login], [password], [roleId], [isActive]) VALUES (2, N'Петров', N'Петр', N'Петрович', CAST(N'1990-06-20' AS Date), N'12345678902', N'petrov@example.com', N'fara', N'123', 4, 1)
INSERT [dbo].[User] ([id], [lname], [fname], [patronymic], [dateBirth], [phone], [email], [login], [password], [roleId], [isActive]) VALUES (3, N'Сидорова', N'Мария', N'Сидоровна', CAST(N'1987-08-10' AS Date), N'12345678903', N'sidorova@example.com', N'fara', N'123', 5, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Role]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Client] FOREIGN KEY([clientId])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Client]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductStatus] FOREIGN KEY([statusId])
REFERENCES [dbo].[ProductStatus] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductStatus]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductType] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [FK_Return_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [FK_Return_Product]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [FK_Return_ReturnType] FOREIGN KEY([returnTypeId])
REFERENCES [dbo].[ReturnType] ([id])
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [FK_Return_ReturnType]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Client] FOREIGN KEY([clientId])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Client]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_PaymentMethod] FOREIGN KEY([payMethodId])
REFERENCES [dbo].[PaymentMethod] ([id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_PaymentMethod]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role1] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role1]
GO
